*{
   font-family: 'Roboto', sans-serif;
   color: var(--text);
}

body{
   background: var(--background);
   color: var(--Foreground);

}

:root{
   /* Dracula */
   --background:#282a36;
   --background-secondary:#44475a;
   --text:#f8f8f2;
   --comment:#6272a4;
   --text-subtitle:#50fa7b;
   --text-link-hover:#ffb86c;
   --text-title:#ff79c6;
   --text-link:#f1fa8c;
}

/* Themes */

body[data-theme = "t-playstation"]{
   --background: #f5f5f5;
   --pink:#DF0024;

}

/* Header */

.header{
   padding: 0px 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color:var(--text-link);
   background:var(--background-secondary);
   height: 80px;
}


.list__item--link{
   color: var(--text-link);
   transition: all .3s ease-in-out;
}

.list__item--link:hover{
   color: var(--text-link-hover);
}

.list__item--link:not(:first-child){
   margin-left: 20px;
}

.menu__list{
   display: flex;
   align-items: center;
}

.button-theme img{
   width: 80px;
}

/*-------------- Main -----------------*/

.main{
   display: flex;
   flex-direction: column;
   gap: 30px;
}

/*-------------- Section One -------------*/

.section-one{
   padding: 20px;
}

/*-------------- About -------------------*/

.about-title{
   display: flex;
}

/*--------------- Skills -----------------*/

.skills{
   width: 100%;
}

.skills__title{
   color: var(--text-title);
}

.skills__owl{
    height: 250px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 6px;
    border-radius: 20px;
}

.skills__owl__item{
   width: 300px;
   height: 100%;
   display: flex;
   justify-content: center;  
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   color: var(--text-subtitle);
}

.fa-js-square{
   color: #f0db4f;
}

.fa-html5{
   color: #f06529;
}

.fa-css3{
   color: #264de4;
}

/*------------------- Section two ----------------*/
.section-two{
   background: var(--background-secondary);
   padding: 20px;
}
/*------------------- Studies --------------------*/

.studies__title{
   color: var(--text-title);
}

.studies__owl{
   display: flex;
   justify-content: space-around;
  
}

.studies__item{
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--text-subtitle);
}
/*--------------- Certificates ------------------*/

.certificates{
   width: 100%;
}

.certificates__title{
   color: var(--text-title);
}
.certificates__owl__item{
   border: 8px solid var(--background-secondary);  
}

.certificates__owl__item{
   max-width: 800px;
}

.certificates__image{
   height:550px;
}

/*-------------------- Section three -------------------*/

.section-three{
   padding: 20px;
}

/*-------------------- Projects ------------------------*/

.projects__title{
   color: var(--text-title);
}

.projects__list{
   display: flex;
   justify-content: space-around;
   height: 250px;
}

.projects__item__title{
   color: var(--text-subtitle);
}

.projects__item{
   display: flex;
   flex-direction: column;
   width: 300px;
   background: var(--background-secondary);
   border-radius: 20px;
   padding: 10px;
   gap: 10px;
   justify-content: space-between;
}

.tech__list{
   display: flex;
   justify-content: space-between;
}

.tech__item{
   color: var(--text-subtitle);
}

.projects__list__actions{
   display: flex;
   gap: 10px;
   justify-content: space-around;
}

.projects__actions__link{
   color: var(--text-link);
}

.projects__actions__link:hover{
   color: var(--text-link-hover);
}

/* ---------------------------- Owl ---------------------------------------- */

.owl-carousel.owl-loaded{
   display: flex;
   flex-direction: column;
}
