*{
   font-family: 'Roboto', sans-serif;
   color: var(--Foreground);
}

body{
   background: var(--background);
   color: var(--Foreground);

}

:root{
   /* Dracula */
   --background:#282a36;
   --current-line:#44475a;
   --Foreground:#f8f8f2;
   --comment:#6272a4;
   --cyan:#8be9fd;
   --green:#50fa7b;
   --orange:#ffb86c;
   --pink:#ff79c6;
   --purple:#bd93f9;
   --red:#ff5555;
   --yellow:#f1fa8c;
}


/* Header */

.header{
   padding: 0px 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color:#ff79c6;
   background:var(--current-line);
   height: 80px;
}

.title{
   color: var(--pink);
   
}

.list__item--link{
   color: #f1fa8c;
   transition: all .3s ease-in-out;
}

.list__item--link:hover{
   color: #ccda37;
}

.list__item--link:not(:first-child){
   margin-left: 20px;
}

/*-------------- Main -----------------*/

.main{
   padding: 10px;
   display: flex;
   flex-direction: column;
   gap: 30px;
}

/*--------------- Skills -----------------*/

.skills{
   width: 100%;
}

.skills__title{
   color: var(--pink);
}

.skills__owl{
    height: 250px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 6px;
    background: var(--current-line);
    border-radius: 20px;
}

.skills__owl__item{
   width: 300px;
   height: 100%;
   display: flex;
   justify-content: center;  
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   color: var(--green);
}

.fa-js-square{
   color: #f0db4f;
}

.fa-html5{
   color: #f06529;
}

.fa-css3{
   color: #264de4;
}

/*------------------- Studies --------------------*/

.studies__title{
   color: var(--pink);
}

.studies__list{
   display: flex;
   justify-content: space-around;
  
}

.studies__item{
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--green);
}
/*--------------- Certificates ------------------*/

.certificates{
   width: 100%;
}

.certificates__title{
   color: var(--pink);
}
.certificates__owl__item{
   border: 8px solid var(--current-line);  
}

.certificates__owl__item{
   max-width: 800px;
}

.certificates__image{
   height:550px;
}

/*-------------------- Projects ------------------------*/

.projects__title{
   color: var(--pink);
}

.projects__list{
   display: flex;
   justify-content: space-around;
   height: 250px;
}

.projects__item__title{
   color: var(--green);
}

.projects__item{
   display: flex;
   flex-direction: column;
   width: 300px;
   background: var(--current-line);
   border-radius: 20px;
   padding: 10px;
   gap: 10px;
   justify-content: space-between;
}

.tech__list{
   display: flex;
   justify-content: space-between;
}

.tech__item{
   color: var(--yellow);
}

.projects__list__actions{
   display: flex;
   gap: 10px;
   justify-content: space-around;
}

.projects__actions__link{
   color: var(--purple);
}

.projects__actions__link:hover{
   color: var(--orange);
}

/* ---------------------------- Owl ---------------------------------------- */

.owl-carousel.owl-loaded{
   display: flex;
   flex-direction: column;
}
